* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


//header
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: linear-gradient(to bottom, rgb(12, 12, 12), rgb(37, 37, 37) 70%, rgb(49, 49, 49) 85%);
}

.Hleft, .Hrigth {
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
}

.link {
    padding-left: 50px;
    
    transition: .5s ease;
    
    position: relative;

    &::after{
        content: "";
        display: block;

        position: absolute;
        top: 100%;
        left: 208;

        width: 30%;
        height: 2px;

        transition: .5s ease;

        background: rgb(35, 35, 167);
    }

    &:hover {
        opacity: .8;

        &::after{
            width: 80%;
        }
    }
}

//Nav
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 90vh;

    
    background: url(https://i.pinimg.com/originals/2d/66/85/2d6685e707bfc754c8da1bb5e4f79475.jpg);
    color: white;

    .h1{
        max-width: 700px;
        
        text-align: justify;
        font-weight: 700;
        font-size: 55px;
    }
}

//Animation Nav

.h1::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .9s infinite;
}

@keyframes piscar {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

//Section
section {
    display: flex;
    justify-content: center;
    background: linear-gradient(225deg, #144f5c , #000000,  #144f5c , #000000);
    background-size: 300% 300%;
    animation: mudaCor 15s ease infinite;
}
//Animation Bd 
@keyframes mudaCor {
    0%, 100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }


}
.Sleft,
.Srigth {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Sleft{
        h2{
            color: white;
            font-size: 35px;
        }
    .stacks{
        
        font-size: 25px;

        background: linear-gradient(225deg, #1c687a 20%, #538BF0 80%);
       
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .works{
       
            display: inline-block;
            margin-top: 64px;
            font-size: 24px;
            padding: 16px 24px;

            position: relative;
            z-index: 0;

            color: white;
            cursor: pointer;
            

            &::after{
                content: "";
                display: block;

                width: 120px;
                height: 120px;
                
                position: absolute;
                
                top:0;
                left: 0;
                z-index: -6;
                
                transform: translate(0%, -25%) rotate(45deg);
                transition: .5s ease;
                
               
                background: linear-gradient(225deg, #1c687a 20%, #538BF0 80%);
            }

            &:hover{
                &::after{
                    transform: translate(0%, -25%) rotate(180deg);
                }
    }

    }
}


.Srigth{
    margin-left: 20px;
}

//Port

.port {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 250px;

    background: linear-gradient(to bottom, #144f5c , #000000);

}

.project {
    margin-top: 35px;
    
    font-weight: 700;
    font-size: 35px;
    
    position: relative;
    img{
        width: 800px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(20%, -20%) translate3d(1000px, 0, 0);
        transition: 1s ease;
    }
    .tpM{
        top:-300%;
    }
    a{
    
        text-decoration: none;
        color: white;
    
        &:hover{
           & + img{
            transform: translate(20%, -20%) translate3d(0, 0, 0);
           }
        }
    }

}
.project:last-child{
    padding-bottom: 50px;
}

//footer

footer {
    border-top: 1px solid white;
   
    padding-top: 50px;

    background: black;
    .contact{
        padding-left: 150px;
        font-size: 45px;
        font-weight: 700;
        
        color: white;
    }
   .icons{
       display: flex;
       justify-content: space-around;

       padding: 50px 0;
   }
   a{
       text-decoration: none;
   }
   .box{
       color: white;
       display: flex;
       align-items: center;

       &:hover{
          transform: translateY(-5px);
       }
   }
   .box:first-child{
       margin-left: -100px;
   }
   .box:last-child{
    margin-right: 50px;
}
}