* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}



//header
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: linear-gradient(to bottom, rgb(12, 12, 12), rgb(37, 37, 37) 70%, rgb(49, 49, 49) 85%);
}

.Hleft, .Hrigth {
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
}

.link {
    padding-left: 50px;
    
    transition: .5s ease;
    
    position: relative;

    &::after{
        content: "";
        display: block;

        position: absolute;
        top: 100%;
        left: 208;

        width: 30%;
        height: 2px;

        transition: .5s ease;

        background: rgb(35, 35, 167);
    }

    &:hover {
        opacity: .8;

        &::after{
            width: 80%;
        }
    }
}

//Nav
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 90vh;

    
    background: url(https://i.pinimg.com/originals/2d/66/85/2d6685e707bfc754c8da1bb5e4f79475.jpg);
    color: white;

    .h1{
        max-width: 700px;
        
        text-align: justify;
        font-weight: 700;
        font-size: 55px;
    }
}

//Animation Nav

.h1::after{
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: piscar .9s infinite;
}

@keyframes piscar {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

//Section
section {
    display: flex;
    justify-content: center;
    border: 1px solid red;

}

.Sleft,
.Srigth {
    height: 97vh;
    padding-top: 50px;
    border: 1px solid red;

}

//Port

.port {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;

}

.project {
    margin-top: 25px;
    border: 1px solid red;
}

//footer

footer {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 50px;
}

footer h2 {
    border: 1px solid red;

}