* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0c0c0c), color-stop(70%, #252525), color-stop(85%, #313131));
  background: linear-gradient(to bottom, #0c0c0c, #252525 70%, #313131 85%);
}

.Hleft, .Hrigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header a {
  color: white;
  text-decoration: none;
}

.link {
  padding-left: 50px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 208;
  width: 30%;
  height: 2px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: #2323a7;
}

.link:hover {
  opacity: .8;
}

.link:hover::after {
  width: 80%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  background: url(https://i.pinimg.com/originals/2d/66/85/2d6685e707bfc754c8da1bb5e4f79475.jpg);
  color: white;
}

nav .h1 {
  max-width: 700px;
  text-align: justify;
  font-weight: 700;
  font-size: 55px;
}

.h1::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  -webkit-animation: piscar .9s infinite;
          animation: piscar .9s infinite;
}

@-webkit-keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(225deg, #144f5c, #000000, #144f5c, #000000);
  background-size: 300% 300%;
  -webkit-animation: mudaCor 15s ease infinite;
          animation: mudaCor 15s ease infinite;
}

@-webkit-keyframes mudaCor {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes mudaCor {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.Sleft,
.Srigth {
  height: 97vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Sleft h2 {
  color: white;
  font-size: 35px;
}

.Sleft .stacks {
  font-size: 25px;
  background: linear-gradient(225deg, #1c687a 20%, #538BF0 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Sleft .works {
  display: inline-block;
  margin-top: 64px;
  font-size: 24px;
  padding: 16px 24px;
  position: relative;
  z-index: 0;
  color: white;
  cursor: pointer;
}

.Sleft .works::after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -6;
  -webkit-transform: translate(0%, -25%) rotate(45deg);
          transform: translate(0%, -25%) rotate(45deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: linear-gradient(225deg, #1c687a 20%, #538BF0 80%);
}

.Sleft .works:hover::after {
  -webkit-transform: translate(0%, -25%) rotate(180deg);
          transform: translate(0%, -25%) rotate(180deg);
}

.Srigth {
  margin-left: 20px;
}

.port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#144f5c), to(#000000));
  background: linear-gradient(to bottom, #144f5c, #000000);
}

.project {
  margin-top: 35px;
  font-weight: 700;
  font-size: 35px;
  position: relative;
}

.project img {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(20%, -20%) translate3d(1000px, 0, 0);
          transform: translate(20%, -20%) translate3d(1000px, 0, 0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .tpM {
  top: -300%;
}

.project a {
  text-decoration: none;
  color: white;
}

.project a:hover + img {
  -webkit-transform: translate(20%, -20%) translate3d(0, 0, 0);
          transform: translate(20%, -20%) translate3d(0, 0, 0);
}

.project:last-child {
  padding-bottom: 50px;
}

footer {
  border-top: 1px solid white;
  padding-top: 50px;
  background: black;
}

footer .contact {
  padding-left: 150px;
  font-size: 45px;
  font-weight: 700;
  color: white;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

footer a {
  text-decoration: none;
}

footer .box {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

footer .box:first-child {
  margin-left: -100px;
}

footer .box:last-child {
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .project img {
    display: none;
  }
}

@media (max-width: 768px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .Srigth {
    display: none;
  }
  .icons {
    margin-left: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 414px) {
  header {
    display: none;
  }
  nav .h1 {
    font-size: 55px;
    padding: 0 40px;
  }
  .port {
    padding-left: 20px;
  }
  .contact {
    margin-left: -150px;
  }
  .icons {
    margin-left: 150px;
  }
}
/*# sourceMappingURL=estilo.css.map */